<!DOCTYPE html>
<html>

<head>
  <title>Madlibs!</title>
</head>

<body>
  <form action="/madlib" method="post">
    <label for='noun1'>A noun:</label>
    <input id="noun1" name="noun1" type="text">
    <label for='noun2'>A noun:</label>
    <input id="noun2" name="noun2" type="text">
    <label for='verb1'>A noun:</label>
    <input id="verb1" name="verb1" type="text">
    <label for='verb2'>A noun:</label>
    <input id="verb2" name="verb2" type="text">
    <label for='adj1'>A noun:</label>
    <input id="adj1" name="adj1" type="text">
    <label for='adj2'>A noun:</label>
    <input id="adj2" name="adj2" type="text">
    <button type="submit">Submit</button>
  </form>
</body>

</html>